.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 576px) {
  .root {
    width: 65%;
    padding: 50px 30px 30px 30px;
  }
  .title {
    font-size: 20px;
  }
  .avatar {
    display: none;
  }
}
