.root {
}

.posts {
}

.sideblock {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.empty {
  min-height: 400px;

  div {
    padding: 150px 0 150px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }
}
